<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="药库管理系统.Properties.Settings.LoginConnectionString"
            connectionString="Data Source=.;Initial Catalog=Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>